h1{
    font-family: 'Amatic SC', cursive;
    color:#991717
    ;
    text-shadow:2px 2px #b14b22; 
    font-size:700%;
    text-align:center;
    
}


p{
    font-family: 'Oswald', sans-serif;
    font-size:175%;
    font-weight:200;
    color:black;
}


#Particle{
    background:linear-gradient( 
        #991717 0%, #b14b22 100% );
    opacity:0.83;
    overflow:hidden;
    height:90%;
    text-align: center;
}


h4{
    font-size:1100%;
    font-family: 'Amatic SC', cursive;
    color:white;
  

}

h2{
    font-family: 'Amatic SC', cursive;
    color:white; 
    font-size: 350%; 
}

#Music{
    text-align:center;
}




a {
    font-family: 'Amatic SC', cursive;   
    font-size: 200%;

}

#navbar-brand{
    font-family: 'Amatic SC', cursive;   
    font-size: 200%;

}

h3{
    font-family: 'Amatic SC', cursive; 
    font-size:350%; 
    text-align: center;
}
img{
    text-align: center;
}

#breaker{

text-align: center;
}

#p1{
    font-family: 'Oswald', sans-serif;
    font-size:700%;
    
}

#about_us{
    text-align:center;
}

#body_shaming{
    margin-left:10%;
    margin-right:10%;
}

#the_medicine{
    margin-left: 10%;;
    margin-right: 10%;; 
}

#Insecurity{
    margin-left:10%;
    margin-right:10%; 
}

#to_build{
    margin-left:10%;
    margin-right:10%;   
}

#about_us{
    margin-left:10%;
    margin-right:10%;
      
}

img{
    max-width: 100%;
}

#p2{
    text-align: center;
}

#amthoughts{
    margin-left:10%;
    margin-right:10%;
}

#poems{
    margin-left:10%;
    margin-right:10%; 
}

#offlineschool{
    margin-left:10%;
    margin-right:10%; 
}
